.Slipcontent {
    width: auto;
    height: auto;
    border: 1px solid black;
    padding: 20px;
    margin: auto;
    background-color: #faf6c2;
}

.note {
    text-align: center;
}

h3 {
    text-align: center;
}

.titleContainer {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
}

/* Media query for screens with a maximum width of 1200px */
@media (max-width: 1200px) {
    .Slipcontent {
        width: 50%;
    }
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .Slipcontent {
        width: 70%;
        padding: 5px;
    }
}

/* Media query for screens with a maximum width of 680px */
@media (max-width: 680px) {
    .Slipcontent {
        width: 90%;
        padding: 5px;

    }

    .note {
        font-size: 14px;
    }

    h3 {
        font-size: 15px;
    }

    .titleContainer {
        font-size: 20px;
    }

    .underline {
        font-size: 10px;
    }

    .infoContainer {
        flex-direction: column;
    }
    h2{
        font-size: 20px;
    }
    span{
        font-size: 10px;
    }
}