.Homepage {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #0c0101;
  box-shadow: #0c0101;
  border-radius: 10px;
  background-color: #FFEAAC;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFEAAC;
  padding: 10px;
}

.header .icon {
  width: 40px;
  height: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar .icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.categories {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.category-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.category-button img {
  width: 40px;
  height: 40px;
}

.top-products {
  margin: 20px 0;
  
}
.products{
display: flex;
}

.top-products h2 {
  text-align: center;
  color: #0c0101;
}

.product-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5px 10;
  cursor: pointer;
  color: black;
}

.product-button img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.affiliate-shops{

  margin: 20px;
   justify-content: space-between;
}
.shops{
  display: flex;
}
.affiliate-shops h2 {
  text-align: center;
}

.shop-button {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  cursor: pointer;
}

.shop-button img {
  width: 100px;
  height: 100px;
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #FFEAAC;
  padding: 10px;
}

.footer-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.home-button{
  width: 80px;
  height: 80px;
}

.footer-button img {
  width: 40px;
  height: 40px;
}
