body {
    margin: 0; /* Add margin reset */
  }
  

.container {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(29, 4, 170, 0.1);
  
  }
  
  .container h1 {
    text-align: center;
    margin-top: 0; /* Add margin reset */
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container label {
    font-weight: bold;
  }
  
  .container input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container button {
    padding: 10px;
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .container button:hover {
    background-color: #ff9800;
  }
  