body {
    margin: 0; /* Add margin reset */
    
  }
  

.container {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(3, 1, 17, 0.1);
  
  }
  
   h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px; /* Add margin reset */
    font-size:x-large;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  
  }
  
  .container label {
    font-weight: bold;
   
  }
  
  .container input {
    margin-bottom: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .container button {
    padding: 8px;
    width: 380px;
    background-color: #ffc107;
    color: #fff;
    margin-top: -8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .container button:hover {
    background-color: #ff9800;
  }
  .signup{
    display:flex;
   justify-content: center;
  }

  .sp{
    margin-top: 15px;
    display: flex;
    padding: 0 5px;
  }
  .no-account{
    padding-right: 20px;
  }
  

  .signups{
    color: blueviolet;
    cursor: pointer;
  }